@font-face {
    font-family: 'Geometria';
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Geometria-900';
    src: url(/fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Geometria-600';
    src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Geometria-700';
    src: url(/fonts/Roboto-Bold.ttf);
}